.body {
background-color: blue;
}
.box {
background-color: chartreuse;
margin: 10;
width: 1200px;
height: 614px;
border-radius: 20px;
display: flex;
flex-wrap: wrap;
gap: 81px;
justify-content: center;
align-items: center;
}

.Box {
background-color: black;
width: 200px;
height: 200px;
gap: 10px;
display: flex;
justify-content: center;
align-items: center;
}

.Box {
background-color: black;
width: 200px;
height: 200px;
gap: 10px;

}

.Box2 {
    background-color: red;
    width: 133px;
    height: 78px;
    display: flex;
justify-content: center;
align-items: center;
}